{% extends "base_auth.html" %}
{% load static %}

{% block content %}
<title>Password reset complete| Med Rad Industries</title>
{% csrf_token %}
<div class="alert alert-success" role="alert">
  Our congratulations! You now have a new password, login <a href="{% url 'login' %}" class="alert-link">here.</a>
</div>

<p>
  <h1 style="margin:150px"></h1>
</p>

 <center>
<div class="container mb-5 mt-5">
  <a href="{% url 'login' %}"><img src="{% static "images/Xray_logo1.png" %}" class="img-fluid " alt="My image" width="350" height="650"></a>
</div>
</center>
<p>
  <h1 style="margin:200px"></h1>
</p>
      
{% endblock %}

