{% extends "base_auth.html" %}
{% block content %}
{% load static %}
<title>Password reset done | Med Rad Industries</title>
    <div class="alert alert-info" style="margin-bottom: 150px;">
        An email has been sent with instructions to reset your password
    </div>

 <center>
<div class="container mb-5 mt-5">
  <a href="{% url 'login' %}"><img src="{% static "images/Xray_logo1.png" %}" class="img-fluid " alt="My image" width="350" height="650"></a>
</div>
</center>
<p>
  <h1 style="margin:200px"></h1>
</p>
{% endblock content %}
