{% extends "base_auth.html" %}
{% block content %}
<title>Password reset confirm | Med Rad Industries</title>
{% load static %}
  <div class="row justify-content-center" style="margin-bottom: 50px;">
    <div class="col-6">
      <div class="card text-white bg-dark mt-5 mb-3">
        <div class="card-body">
          <form method="post">
CheXNet Prediction
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 <center>
<div class="container mb-5 mt-5">
  <a href="{% url 'login' %}"><img src="{% static "images/Xray_logo1.png" %}" class="img-fluid" alt="My image" width="350" height="650"></a>
</div>
</center>
<p>
  <h1 style="margin:250px"></h1>
</p>
{% endblock content %}
